.hidden-controls::-webkit-media-controls {
  display: none !important;
}

.hidden-controls::-moz-media-controls {
  display: none !important;
}

.hidden-controls::-ms-media-controls {
  display: none !important;
}

.hidden-controls::-o-media-controls {
  display: none !important;
}

.hidden-controls::media-controls {
  display: none !important;
}
