@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.hed {
  font-family: 'Fira Sans', sans-serif;
}
.container {
  height: 100vh;
  padding: 5rem;
  z-index: 100;
  box-sizing: border-box;
}

.vectorGraphics {
  filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.3));
  animation: vectorAnimation 2.5s cubic-bezier(0.88, -0.23, 0, -0.65) infinite
    alternate;
}

@keyframes vectorAnimation {
  to {
    transform: translateY(-10px);
  }
}

.brandsBanner > svg {
  color: white;
  font-size: 3rem;
  transition: color 0.5s;
}

.brandsBanner > svg:hover {
  color: rgba(255, 221, 0);
}

.container2 {
  height: 100vh;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 > video {
  border: 1px solid rgba(0, 0, 0, 0.18);
  width: 70%;
  border-radius: 15px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.229);
  outline: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1.4rem;
  }

  .container2 {
    height: auto;
    padding: 2rem 0;
  }
  .container2 > video {
    width: 100%;
  }
}

.header > img {
  color: aliceblue;
}

.hidden-controls::-webkit-media-controls {
  display: none !important;
}

.hidden-controls::-moz-media-controls {
  display: none !important;
}

.hidden-controls::-ms-media-controls {
  display: none !important;
}

.hidden-controls::-o-media-controls {
  display: none !important;
}

.hidden-controls::media-controls {
  display: none !important;
}

.backgroundVideoContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.backgroundVideoOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: -100;
  background-image: linear-gradient(
    rgba(53, 52, 71, 0.65),
    rgba(53, 52, 71, 0.65)
  );
  z-index: -99;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
}
